{% extends "base.html" %}
{% block content %}

		<div class="calc_p1">
			<h1>Welcome to the Complexity of life calculator!</h1>
			<br>
			<p>You'll be asked some simple questions and depending on your answers the calculator will deduct how complicated your life is. 
So if you're ready, let's get started! :)</p>
			<br>
			<p>Please click on NEXT to continue: </p>
			
			<div id="next">
				<a href= "/complicator"><button type="button" class="btn myButton">NEXT</button></a>
			</div>
		</div>


{% endblock %}