{% extends "base.html" %}
{% block content %}
<div class="contentcatz">

<div class="row"> <!--second row-->
      <div class="col-lg-6">
        <h1>Welcome!</h1>
			</div>
</div>
<h4 class="about">About</h4>
<p>CodeCatz is a group of girls that are learning how to code with the help of experienced Catz.</p>
<br>
<h4 class="about">Meetup Summaries</h4>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Meetup #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We decided to make our own CodeCatz website. For this purpose we made our own repository on <a href="https://github.com/" target="_blank">Github</a> called <a href="https://github.com/CodeCatz/litterbox" target="_blank">litterbox</a> and learned how to send pull requests and use push to share the cool commits we've made with others.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Meetup #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We decided to make our very first app <a href="/demo">The Complexity of Life Calculator</a>. We learned how to use variables and if/else statements in python.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Meetup #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We started adding different functions to our Complexity of Life Calculator. We also found Flask which is a lightweight web application framework written in Python. Tutorial: <a href="https://github.com/CodeCatz/litterbox#web-development-with-flask" target="_blank">How to install Flask</a>.</p>
      </div>
    </div>
  </div>
 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Meetup #4
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We used Flask to make a simple web app. It became prettier with the help of <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Meetup #5
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We reviewed how to make a simple app using Flask, used Bootstrap again to make it look more fancy, practiced different CSS tricks and successfully debugged all the problems we've encountered along the way.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Meetup #6
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We spent most of the time reviewing the code for our complexicators and the way they work with the Flask web app. We also talked about HTML form validation and forking.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          Meetup #7
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We learned about <a href="http://jquery.com/" target="_blank">jQuery</a>, a fast, small, and feature-rich JavaScript library. We also found <a href="http://jsfiddle.net/" target="_blank">jsFiddle</a> which is a great tool to experiment with JavaScript and various js libraries, including jQuery.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          Meetup #8
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We spent most of the time playing with jQuery again. We also had a very cool presentation about <a href="https://github.com/CodeCatz/kibble/tree/master/UX/2013-09-04-UX-basics" target="_blank">User Experience</a> by one of our kittens.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
          Meetup #9
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This week we were hosted by <a href="http://www.celtra.com" target="_blank">Celtra</a>. Most of the mentors were absent, so we used most of the time to cath up and review github fetch command. One of the members also had a wonderful presentation about Celtra's rich media mobile advertising.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
          Meetup #10
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We talked about Raspberry Pi and DNS Servers.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
          Meetup #11
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We were hosted by Celtra again where we were working on our homework - making our own websites.</p>
      </div>
    </div>
  </div>

<br><br>
<h4 class="about">Cool sites</h4>
  <div class ="row">
      <div class="col-lg-12">
        <ul>
            <li><a href="http://www.codecademy.com/" target="_blank">Codecademy</a></li>
            <li><a href="http://learnpythonthehardway.org" target="_blank">Learn Python the Hard Way</a></li>
            <li><a href="https://na1.salesforce.com/help/doc/en/salesforce_git_developer_cheatsheet.pdf" target="_blank">Git Cheat Sheet</a></li>
            <li><a href="http://lorempixel.com" target="_blank">Lorem Pixel</a></li>
            <li><a href="http://bootply.com" target="_blank">Bootply</a></li>
            <li><a href="http://purecss.io" target="_blank">Pure CSS</a></li>
            <li><a href="https://www.heroku.com" target="_blank">Heroku</a></li>
            <li><a href="http://googlecreativelab.github.io/coder/" target="_blank">Coder</a></li>
        </ul>
      </div>
  </div>

</div>
{% endblock %}